.news-title {
    font-size: 30px;
    margin-bottom: 20px;
    color: #222;
}

.page .info {
    font-size: 13px;

    & .author {
        color: #460260;
        font-weight: bold;
    }
}

.page p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #444;
}

.news-image {
    margin-top: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.news-image-description {
    text-align: center;
    font-size: 13px !important;
    color: #555;
    margin-top: 5px;
    margin-bottom: 20px;
    font-style: italic;
}