.news-title {
    font-size: 30px;
    margin-bottom: 20px;
    color: #222;
}

.page .info {
    font-size: 13px;

    & .author {
        color: #460260;
        font-weight: bold;
    }
}

.page p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #444;
}

.news-image {
    margin-top: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.news-image-description {
    text-align: center;
    font-size: 13px !important;
    color: #444;
    margin-top: 5px;
    margin-bottom: 20px;
    font-style: italic;
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.comments-section {
    padding-top: 20px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}

.comments-section h3 {
    margin-bottom: 20px;
    color: #222;
    font-size: 20px;
}

.comment {
    position: relative;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 12px 16px;
    margin-bottom: 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.comment-header {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #666;
    margin-bottom: 6px;
}

.comment-user {
    font-weight: 600;
    color: #333;
}

.comment-date {
    font-size: 13px;
    color: #888;
}

.comment-content {
    font-size: 15px;
    color: #444;
    line-height: 1.5;
}

.no-comments {
    color: #666;
    font-style: italic;
    margin-bottom: 10px;
}



.comment-form {
    margin-top: 20px;
}

.textarea-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.comment-form textarea {
    width: 100%;
    min-height: 70px;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 10px 50px 10px 10px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s ease;
    resize: none;
    box-sizing: border-box;
}

.comment-form button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #460260;
    color: white;
    border: none;
    padding: 5px 12px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.comment-form button:hover {
    opacity: 0.8;
}

.comment-input {
    min-width: 100%;
}

.delete-comment-button {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: transparent;
    color: red;
    border: none;
    cursor: pointer;
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
}

.delete-comment-button:hover {
    text-decoration: underline;
}