.featured-news {
    cursor: pointer;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.2s ease;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.featured-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

.featured-news:hover {
    transform: scale(1.02);

}

.featured-title {
    font-size: 30px;
}



.news-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: left;
}

.news-card {
    cursor: pointer;
    width: 210px;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.2s ease;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.news-card-image {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.news-card:hover {
    transform: scale(1.02);
}

.news-card-titles {
    font-size: 20px;
}