* {
    color: #000000;
}

body {
    min-height: 100%;
}

.page {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    height: 90vh;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}