.footer {
    display: flex;
    justify-content: center;
    background-color: #460260;
    align-items: center;
    width: 100%;
    min-height: 25px;
    margin-top: auto;
    position: relative;
    bottom: 0%;

    & p {
        font-size: 12px;
        font-weight: lighter;
        justify-content: center;
        color: white;
    }
}