* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

body {
  background-color: #EBEBEB;
}

.page {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  min-height: 100vh;
  padding: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px);
}

.container-input {
  border: none;
  border-radius: 30px;
  background-color: #fff;
  font-size: 14px;
  padding: 0 25px;
  width: 70%;
  height: 50px;
  margin-bottom: 10px;
  outline: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7d70ba;
  padding: 50px 30px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  min-width: 50%;
}

.container-title {
  color: #fff;
  margin-bottom: 50px;
  font-size: 24px;
  text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
}

.container-link {
  color: #fff;
  font-size: 10px;
  font-weight: lighter;
  margin-bottom: 10px;
  text-decoration: underline;
  cursor: pointer;
}

.container-button {
  border: none;
  border-radius: 30px;
  background-color: #460260;
  color: #fff;
  font-weight: bold;
  padding: 0 50px;
  height: 40px;
  margin: 30px 0 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.container-button:hover {
  opacity: 0.8;
}